#mainNavbar {
  font-size: 1rem;
  font-weight: 900;
}
.stickyTop {
  background-image: linear-gradient(
    to right,
    rgba(227, 244, 248, 1),
    rgb(173, 236, 250)
  );
  transition: background 0.5s;
}
.navbarNav {
  margin-left: 18rem;
}
.navLink {
  padding: 1rem 1rem;
  color: #333333;
  font-weight: 500;
}
.navItem{
  font-size: 1.2em;
}
.navItem a img {
  display: none;
}
.navItem:hover a img {
  display: inline;
}
.btn1,
.btn3 {
  color: #fff;
  border-radius: 20px;
  background-color: #4e8be7;
}
.btn2 {
  color: #4e8be7;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #4e8be7;
}
.btn1:hover,
.btn3:hover {
  color: #4e8be7;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #4e8be7;
}
.btn2:hover {
  color: #fff;
  border-radius: 20px;
  background-color: #4e8be7;
}
@media only screen and (max-width:768px){
  .navbarNav {
    margin-left: auto;
  }
}